# Angular
/client/node_modules
/client/dist

# ASP.NET
/server/bin
/server/obj
/server/.vs/
/server/appsettings.Development.json
/server/*.db
/server/*.db-shm
/server/*.db-wal

# Test-Projekt
/server.Tests/bin
/server.Tests/obj

# Uploads
/uploads/*
!/uploads/.gitkeep

# Environment
*.env
client/public/images/Hero2.jpg
