# Angular
/client/node_modules
/client/dist

# ASP.NET
/server/bin
/server/obj
/server/.vs/
/server/appsettings.Development.json

# Test-Projekt
/server.Tests/bin
/server.Tests/obj

# Uploads
/uploads

# Environment
*.env
/server/art.db
