<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group" style="max-width: 50%;">
    <label for="title" class="form-label">Titel der Ausstellung</label>
    <input
      id="title"
      type="text"
      formControlName="title"
      class="form-control d-block w-200"
      [class.is-invalid]="form.get('title')?.invalid && form.get('title')?.touched"
    />
    <div class="invalid-feedback" *ngIf="form.get('title')?.hasError('required')">
      Titel ist erforderlich.
    </div>
  </div>

  <div class="form-group mt-3" style="max-width: 50%;">
    <label for="date" class="form-label">Datum</label>
    <input
      id="date"
      type="date"
      formControlName="date"
      class="form-control d-block w-200"
      [class.is-invalid]="form.get('date')?.invalid && (form.get('date')?.touched || form.get('date')?.dirty)"
    />
    <div class="invalid-feedback" *ngIf="form.get('date')?.hasError('invalidDate') && form.get('date')?.touched">
      Ungültiges Datumsformat.
    </div>
    <div class="invalid-feedback" *ngIf="form.get('date')?.hasError('futureDate') && (form.get('date')?.touched || form.get('date')?.dirty)">
      Das Datum darf nicht in der Zukunft liegen.
    </div>
    <div class="form-text text-muted">
      {{ form.get('date')?.value
        ? 'Datum wird bei der Veröffentlichung der Ausstellung in der Galerie angezeigt'
        : 'Optional: Wird kein Datum gesetzt, wird beim Speichern das aktuelle verwendet.' }}
    </div>
  </div>
</form>
