<!-- Drafts Section -->
<div class="mb-5">
  <div class="mb-3">
    <i class="fa-solid fa-pen-ruler" style="color: #ff8800"></i>
    Entwürfe
  </div>

  <app-post-list
    [items]="drafts()"
    [getTitle]="getTitle"
    [getSubtitle]="getSubtitle"
    [getBadge]="getBadge"
    [getBadgeClass]="getBadgeClass"
    [getElementCount]="getElementCount"
    [actions]="getDraftActions()"
    [addButton]="getAddButton()"
  />
</div>

<!-- Published Section -->
<div>
  <div class="mb-3">
    <i class="fa-solid fa-arrow-up-from-bracket" style="color: #008000"></i>
    Veröffentlicht
  </div>

  <app-post-list
    [items]="published()"
    [getTitle]="getTitle"
    [getSubtitle]="getSubtitle"
    [getBadge]="getBadge"
    [getBadgeClass]="getBadgeClass"
    [getElementCount]="getElementCount"
    [actions]="getPublishedActions()"
  />
</div>

<!-- Confirm Dialog -->
<app-confirm-dialog
  [show]="showConfirmDelete"
  [title]="'Löschen bestätigen'"
  [message]="'Möchtest du die Ausstellung ' + selectedExhibition?.title + ' wirklich löschen?'"
  [confirmText]="'Löschen'"
  [confirmClass]="'btn-danger'"
  [cancelText]="'Abbrechen'"
  (confirm)="confirmDelete()"
  (cancel)="closeConfirmDeleteModal()"
/>
