/* Hero Section Container */
.hero-section {
  position: fixed; /* Fixiert die Hero-Section, damit sie immer sichtbar bleibt */
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  z-index: 10;
  transition: top 0.3s ease-in-out;
}

/* Toggle Button für Sidebar */
.navbar-toggler {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 200;
  background-color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #333;
}

.navbar-toggler:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Sidebar Standard */
.sidebar {
  position: fixed;
  width: 250px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-color: white;
  height: 100%;
  z-index: 5;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  margin-top: 150px; /* Abstand von der fixierten Hero-Section */
}

/* Geklappt (wird per Button gesteuert) */
.sidebar.collapsed {
  transform: translateX(-100%); /* Sidebar wird aus dem Sichtbereich verschoben */
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

/* Main Content */
main {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  padding: 20px;
  margin-top: 80px; /* Abstand zur fixierten Hero-Section */
}

.sidebar.collapsed + main {
  margin-left: 0;
}

.sidebar:not(.collapsed) + main {
  margin-left: 250px;
}
