<app-dashboard-header [title]="'Artikel der Startseite zuweisen'"></app-dashboard-header>

<!-- Breadcrumb and Backnavigation -->
<app-dashboard-toolbar *ngIf="sectionLabel" [breadcrumbs]="['Dashboard', 'Artikel zuweisen', sectionLabel]"></app-dashboard-toolbar>

<div class="mb-3" style="max-width: 50%;">
<label>Artikel auswählen
    <select class="form-select d-block w-200" [(ngModel)]="selectedArticle">
        <option [ngValue]="null" disabled selected>-- auswählen --</option>
        <option *ngFor="let a of articles" [ngValue]="a">{{ a }}</option>
    </select>
</label>
<div class="form-text text-muted"> Der ausgewählte Artikel wird auf der Startseite angezeigt</div>
</div>

<div class="form-check mb-2">
<input class="form-check-input" type="checkbox" [(ngModel)]="showButtonOptions" id="btnAdd">
<label class="form-check-label" for="btnAdd">Button hinzufügen</label>
</div>

<div *ngIf="showButtonOptions" class="mb-3" style="max-width: 50%;">
<label>Auf welche Seite soll der Button führen?
<select class="form-select d-block w-200" [(ngModel)]="selectedButtonArticle">
    <option [ngValue]="null" disabled selected>-- auswählen --</option>
    <option *ngFor="let route of pageRoutes" [ngValue]="route.path">
      {{ route.label }}
    </option>
</select>
</label>
</div>

<button class="btn btn-primary" onkeypress="saveArticleAssignment()">Speichern</button>
