<section class="info-grid container centered">
    <app-article-block class="info-item" [pageBlockId]="1"></app-article-block>
</section>

<section class="portfolio-preview container">
  <h2>Ausgewählte Werke</h2>

  <div class="art-grid">
    <ng-container *ngIf="exhibitions.length > 0">
      <ng-container *ngFor="let art of getPortfolioPreviewImages()">
        <div class="art-item" (click)="openModal(art)">
          <img [src]="art.imageUrl" [alt]="art.name" />
          <h3>{{ art.name }}</h3>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="btn-wrapper">
    <a routerLink="/gallery" class="btn-secondary">Mehr Kunstwerke ansehen</a>
  </div>
</section>


<section class="info-grid container centered">
    <app-article-block class="info-item" [pageBlockId]="2"></app-article-block>
    <app-article-block class="info-item" [pageBlockId]="3"></app-article-block>
</section>

<app-exhibition-elements-modal *ngIf="selectedElement" [element]="selectedElement" (close)="closeModal()">
</app-exhibition-elements-modal>