<ul class="nav flex-column">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
    >
      Startseite
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Galerie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/aboutme" routerLinkActive="active">Über mich</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Kontakt</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
  </li>

</ul>
